<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CassandraSharp" type="CassandraSharp.SectionHandler, CassandraSharp.Interfaces" />
  </configSections>

  <CassandraSharp>
    <Cluster name="TestCassandra">
      <Endpoints>
        <Server>localhost</Server>
      </Endpoints>
    </Cluster>
  </CassandraSharp>
</configuration>